[flake8]
exclude =
    tests
    pyxel/_version.py
    pyxel/templates/_TEMPLATE.py
    pyxel/models/phasing/mkid_models
    pyxel/models/phasing/pulse_processing.py
    .ipynb_checkpoints
#max_complexity=10
max-line-length=120
ignore=E203,W503,TC003,B028,TRY003,TRY101,TRY301,E501,F401,E704,E701,F811,B023,E301